// Global SCSS variables and mixins
// react-md has been replaced with MUI

// Color definitions (matching MUI theme)
$primary-color: #9ccc65 !default; // light green
$secondary-color: #ff5722 !default; // deep orange
$background-color: #303030 !default;
$paper-color: #424242 !default;
