// Can't use the nice '~react-md/src/scss/react-md' since this isn't being bundled with webpack
@import '../node_modules/react-md/src/scss/react-md';

// Variable overrides

$md-light-theme: false;

$md-primary-color: $md-light-green-400;
$md-secondary-color: $md-orange-a-200;
