@import '../globals';

.vcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.top-card {
  flex: 1;
}

.bottom-card {
}

html, body, #root, .fullscreen {
  height: 100%;
}

.centered {
  justify-content: center;
}
