@import '../globals';

.vcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.top-card {
  flex: 1;
}

.bottom-card {
}

.filler-card {
  background-color: $md-grey-800;
  flex: 0 0 60px;
}

html,
body,
#root,
.fullscreen {
  height: 100%;
}

.centered {
  justify-content: center;
}

.text-size-box {
  align-items: center;
  color: #fff;
  display: inline-flex;
}

.text-size-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trainer-column {
  flex: 0 0 320px;
}

.column-container {
  display: flex;
  height: 100%;
}

.side-filler {
  background-color: $md-grey-800;
  flex: 1;
}
